body {
    background-color: #f4f4f4 !important;
}

@-ms-viewport{
  width: device-width;
}

*:focus {
    outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.logo {
    float: left;
    height: 80px;
    line-height: 80px;
    margin-left: 30px;
    color: #999;
    .logo-text {
        float: right;
        font-family: 'Cinzel', serif;
    }
    img {
        height: 80px;
        line-height: 80px;
        width: 40px;
        margin-right: 8px;
    }
}

.header {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    height: 80px;
    width: 100%;
    background: /* gradient can be an image */
    linear-gradient( to left, rgba(92, 7, 52, 1) 0%, rgba(134, 29, 84, 1) 12%, rgba(255, 93, 177, 1) 47%, rgba(83, 0, 30, 1) 100%) left bottom #fff no-repeat;
    background-size: 100% 5px;
}

.lg-nav-menu {
    float: right;
    margin-top: 15px;
    border-bottom: none !important;
    .lg-menu-item:hover {
        border-bottom: none !important;
        color: #cc4185 !important;
    }
    .lg-menu-item.ant-menu-item-selected {
        border-bottom: none !important;
        color: #cc4185 !important;
    }
}

.sm-nav-menu-col {
    width: auto !important;
    bottom: 26px;
    right: 30px;
    position: absolute !important;
    i {
        font-size: 27px;
    }
}

.banner {
    width: 100%;
    height: auto;
    img {
        width: 100%;
    }
}