.logo {
    float: left;
    height: 80px;
    line-height: 80px;
    margin-left: 30px;
    color: #999;
}

.logo img {
    height: 80px;
    line-height: 80px;
    width: 40px;
    margin-right: 8px;
}

.logo .logo-text {
    float: right;
    /*font-size: 16px;*/
    font-family: 'Cinzel', serif;
    /*height: 80px;*/
    /*line-height: 80px;*/
    /*text-transform: uppercase;*/
}

.banner {
    img {
        width: 100%;
        height: 620px;
    }
}

.header {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    height: 80px;
    width: 100%;
    background: /* gradient can be an image */ linear-gradient( to left, rgba(92,7,52,1) 0%, rgba(134,29,84,1) 12%, rgba(255,93,177,1) 47%, rgba(83,0,30,1) 100% ) left bottom #fff no-repeat;
    background-size: 100% 5px;
}

.custom-image img {
    display: block;
}

.custom-card {
    padding: 10px 16px;
}

.custom-card p {
    color: #999;
}


.row-gutter {
    padding: 20px;
    .ant-row > div {
      background: transparent;
      border: 0;
    }
}
.gutter-box {
  background: #00A0E9;
  padding: 5px 0;
}
.gutter-col {
    padding-bottom: 8px;
}